.bird-img {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 155px;
  margin: 10px 20px 10px 0;
  border-radius: 15px;
  object-fit: cover;

  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%) scale(1.2);
  }
}
