@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap&subset=cyrillic");

.content {
  grid-area: main;
  display: grid;
  grid: 50px 25% minmax(315px, 2fr) 1fr / repeat(2, 1fr);
  grid-row-gap: 15px;
  grid-template-areas:
    "nav nav"
    "quiz quiz"
    "list details"
    "btn btn";

  @media only screen and (max-width: 900px) {
    grid: 50px 180px minmax(200px, 1fr) 1fr / repeat(2, 1fr);
    grid-template-areas:
      "nav nav"
      "quiz quiz"
      "list list"
      "details details"
      "btn btn";
  }
}
