.muteBtn {
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: 150ms;

  &:after {
    position: absolute;
    top: -3px;
    left: 12px;
    display: none;
    width: 2px;
    height: 120%;
    content: '';
    transform: rotate(45deg);
    animation: mute linear 100ms;
    background: red;
  }

  &:before {
    position: absolute;
    top: -3px;
    left: 12px;
    display: none;
    width: 2px;
    height: 120%;
    content: '';
    transform: rotate(-45deg);
    animation: mute linear 100ms;
    background: red;
  }
}

.muteOn.muteBtn:after,
.muteOn.muteBtn:before {
  display: block;
}

@keyframes mute {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


