.answer-list {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #222222;
  grid-area: list;
}

.answer-item {
  font-size: 1.2rem;
  align-self: center;
  padding: 10px;
  list-style-type: none;
  cursor: pointer;
  transition: 150ms;
  border-radius: 10px;
  background: #222222;

  &:hover {
    background: lighten(#222222, 15%);
  }
}

.radioBtn {
  line-height: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background: lighten(#222222, 15%);

  @media only screen and (max-width: 480px) {
    width: 15px;
    height: 15px;
  }
}

.correct {
  background: lime;
}

.incorrect {
  background: red;
}

.reset {
  background: lighten(#222222, 15%);
}


