.navbar {
  width: 100%;
  border-radius: 15px;
  grid-area: nav;

  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid: 1fr / repeat(6, 1fr);

    li {
      display: inline-block;
      padding: 10px 15px;
      text-align: center;
      background: #008966;
      transition: 150ms;
      cursor: default;

      @media only screen and (max-width: 480px) {
        font-size: 1.2rem;
      }
    }

    @media only screen and (max-width: 480px) {
      display: grid;
      grid: repeat(3, 1fr) / repeat(3, 1fr);
    }
  }
}

:root .active {
  background: lighten(#008966, 15%);
}
