body {
  background: #222222;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

#root {
  max-width: 992px;
  margin: 0 auto;
  outline: 1px solid white;
  padding: 5px;
  box-sizing: border-box;
  display: grid;
  grid: repeat(2, 1fr) / repeat(2 / 1fr);
  grid-template-areas:
    "logo score"
    "main main";
  position: relative;
}
