body {
  font-family: "Nunito", sans-serif;
  color: #FFFFFF;
  background: #222222;
}

#root {
  position: relative;
  display: grid;
  box-sizing: border-box;
  max-width: 992px;
  margin: 0 auto;
  padding: 5px;
  grid: repeat(2, 1fr) / repeat(2 / 1fr);
  grid-template-areas: "logo score" "main main";
}
